.blog-header-box {
  width: 100%;
  border-radius: 8px;

  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  background-color: #3f404d;
  background-size:cover;

  h2 {
    color: var(--sectionbg);
    text-align: center;
    padding-inline: 50px;
  }

  span {
    color: var(--sectionbgmid);
  }

  --blog-icon-pad-inline: 12px;
  --blog-icon-pad-block: 10px;

  .blog-icon-back, .blog-icon-share, .blog-icon-rss {
    position: absolute;
    top: var(--blog-icon-pad-block);

    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;

    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;

    &:focus-visible {
      outline: solid 3px var(--focus-blue);
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .blog-icon-back {
    left: var(--blog-icon-pad-inline);
  }

  .blog-icon-share {
    right: var(--blog-icon-pad-inline);
  }

  .blog-icon-rss {
    right: var(--blog-icon-pad-inline);
    top: unset;
    bottom: var(--blog-icon-pad-block);
  }
}
