.blog-header-box {
  width: 100%;
  border-radius: 8px;

  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  background-size:cover;

  h2 {
    color: var(--sectionbg);
  }

  span {
    color: var(--sectionbgmid);
  }

  .blog-icon-back, .blog-icon-share {
    position: absolute;
    top: 14px;

    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;

    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;

    &:focus-visible {
      outline: solid 3px var(--focus-blue);
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .blog-icon-back {
    left: 16px;
  }

  .blog-icon-share {
    right: 16px;
  }

  .copied-check {
    display: inline;
    font-size: 14px;
    position: relative;
    top: 10px;
    right: 12px;
    text-align: right;
    width: fit-content;

    svg {
      font-size: 18px;
    }
  }
}
