.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 100px;
  width: 200px;
  background-color: var(--sectionbg);
  color: var(--textcolor);
  text-decoration: none;
  padding: 4px 0px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.05s;
  font-family: 'Lato';

  &:hover {
    background-color: var(--sectionbgmid);
    color: var(--textcolor);
    cursor: pointer;
  }

  &:disabled {
    background-color: transparent;
    color: var(--textcolor);
    cursor: default;
  }

  &:focus-visible {
    outline: solid 3px var(--focus-blue);
  }
}

a.button {
  text-decoration: none;
}

.button.blue {
  background-color: var(--blue1);
  color: var(--sectionbg);

  &:hover {
    background-color: var(--blue1light);
  }

  &:active {
    background-color: var(--blue1dark);
  }
}

.button.action-blue, .button.action-blue-small {
  background-color: var(--darkb2);
  color: var(--sectionbg);
  border-bottom: solid 2px var(--blue1);
  position: relative;
  height: 28px;
  width: 100%;
  max-width: 220px;

  &:hover {
    border-bottom-width: 0px;
    height: 26px;
    margin-top: 2px;
  }

  &:active {
    background-color: var(--darkb);
  }
}

.button.action-blue-small {
  width: fit-content;
  min-width: 50px;
}
