.button {
  min-width: 100px;
  width: 100%;
  background-color: var(--sectionbg);
  color: var(--text);
  text-decoration: none;
  padding: 4px 0px;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.05s;

  &:hover {
    background-color: var(--sectionbgmid);
    cursor: pointer;
  }
}

a.button {
  text-decoration: none;
}
