.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 100px;
  width: 200px;
  background-color: var(--sectionbg);
  color: var(--textcolor);
  text-decoration: none;
  padding: 4px 0px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.05s;
  font-family: 'Lato';

  &:hover {
    background-color: var(--sectionbgmid);
    cursor: pointer;
  }

  &:disabled {
    background-color: transparent;
    cursor: default;
  }
}

a.button {
  text-decoration: none;
}

.button.blue {
  background-color: var(--blue1);
  color: var(--sectionbg);

  &:hover {
    background-color: var(--blue1mid);
  }

  &:active {
    background-color: var(--blue1dark);
  }
}
