.marquee {
  width: 100%;
  background-color: rgb(22, 31, 54);
  color: rgb(54, 179, 106);
  font-family: monospace;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  padding: 4px;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 90s linear infinite;
}

@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
