.my-tools {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-block: 12px;

  > div {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  svg {
    fill: var(--textcolor);
    transition: opacity 0.1s;

    g, path {
      fill: var(--textcolor);
    }
  }
}

div.selected-item {
  border: solid 1px var(--sectionborder);
  border-radius: 8px;
  text-align: left;
  padding: 10px 12px;
  gap: 10px;

  flex-direction: column;
  justify-content: flex-start;

  .hover-prompt {
    width: 100%;
    text-align: center;
    font-style: italic;
  }

  .descr {
    display: grid;
    justify-items: start;
    align-items: start;

    & > * {
      grid-column-start: 1;
      grid-row-start: 1;
    }
  }
}

.tool-icon-button {
  border: none;
  background: none;
  border-radius: 4px;
  padding: 4px;

  &:hover {
    cursor: pointer;

    svg {
      opacity: 0.85;
    }
  }

  &:active svg {
    opacity: 0.6;
  }

  &.selected svg {
    opacity: 0.75;
  }

  &:focus-visible {
    outline: solid 3px var(--focus-blue);
  }
}
