.outer-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 800px;
  width: 95%;
  min-width: 350px;
}

.top-bar {
  width: 100%;
  background-color: var(--whitesectionbg);
  padding: 12px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: solid 1px var(--sectionborder);
  border-top: none;
  box-shadow: 0px 0px 2px 2px var(--sectionbordershadow);
  margin-bottom: 2px;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-buttons {
  display: flex;
  width: 100%;
  gap: 8px;

  a {
    min-width: 0px;
  }
}
