.showcase {
  background-color: var(--darkb);
  color: var(--sectionbg);
  padding: 12px;
  border-radius: 8px;
  border: none;
  transition: all 0.1s;
  box-shadow: 0px 2px 2px var(--sectionbordershadow);
  flex: 1;
  position: relative;
  background-blend-mode: multiply;
  /* May want to adjust in specific instances, such as to 100% or auto 100% */
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    margin-bottom: 10px;
  }
}
.showcase:hover {
  background-color: transparent;
  border-radius: 24px;
}
.showcase .toolslist {
  text-align: left;
  font-size: 18px;

  svg {
    margin: 4px;
    > path, g {
      fill: var(--sectionbg);
    }
  }
}

/* Fancy roadmap tree/path climb */
.pathclimb-container {
    position: relative;
    overflow: hidden;
    height: fit-content;
    padding-bottom: 19px;
    margin-top: auto;
}
.pathclimb-container div.branch {
    width: 100%;
    height: fit-content;
    position: relative;
    padding-bottom: 22px;
}
.pathclimb-container img.branchimg {
    width: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
    /* Display the branch svg image on every branch */
    content: url('../assets/images/branchpath.svg');
    opacity: 0.6;
    mask-image: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
}
.pathclimb-container div.contents {
    position: relative;
    left: 64px;
    top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(100% - 64px);
}
.pathclimb-container span.head {
    font-weight: bold;
}
.pathclimb-container span.subhead {
    font-size: 13px;
    margin-left: 10px;
    opacity: 0.6;
}
