.showcase {
  background-color: var(--darkb);
  color: var(--sectionbg);
  padding: 12px;
  border-radius: 8px;
  border: none;
  transition: all 0.1s;
  box-shadow: 0px 2px 2px var(--sectionbordershadow);
  flex: 1;
  position: relative;
  background-blend-mode: multiply;
  /* May want to adjust in specific instances, such as to 100% or auto 100% */
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    margin-bottom: 10px;
  }
}
.showcase:hover {
  background-color: transparent;
  border-radius: 24px;
}
.showcase .toolslist {
  text-align: left;
  font-size: 18px;

  display: flex;
  flex-direction: row;
  gap: 8px;

  svg {
    > path, g {
      fill: var(--sectionbg);
    }
  }
}

/* Fancy roadmap tree/path climb */
.roadmap-tree {
    position: relative;
    overflow: hidden;
    height: fit-content;
    padding-bottom: 19px;
    margin-top: auto;
}
.roadmap-tree div.branch {
    width: 100%;
    height: fit-content;
    position: relative;
    padding-bottom: 22px;
}
.roadmap-tree img.branchimg {
    width: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
    /* Display the branch svg image on every branch */
    content: url('../assets/images/branchpath.svg');
    opacity: 0.6;
    mask-image: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
}
.roadmap-tree div.contents {
    position: relative;
    left: 64px;
    top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(100% - 64px);
}
.roadmap-tree span.head {
    font-weight: bold;
}
.roadmap-tree span.subhead {
    font-size: 13px;
    margin-left: 10px;
    opacity: 0.6;
}

a.outer-a {
  flex: 1;
  position: relative;
  border-radius: 8px;

  > :first-child {
    height: 100%;
  }
}

/* Fancy peeking image */
div.peeking-container {
    min-width: 80px;
    max-width: 200px;
    width: 80vw;
    min-height: 200px;
    max-height: 200px;
    margin-right: -12px;
    padding: 8px;
    padding-left: 22px;
    padding-right: 0px;
    overflow: hidden;
}
div.showcase:hover div.peeking-container img {
    transform: translateX(-14px);
}
div.peeking-container img {
    max-height: 100%;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
    transition: all 0.1s;
}

.peeking-container-vert {
  width: 80%;
  min-height: 200px;
  max-height: 200px;
  margin-bottom: -12px;
  padding: 8px;
  padding-top: 22px;
  padding-bottom: 0px;
  overflow: hidden;
  margin-top: auto;
}
div.showcase:hover div.peeking-container-vert img {
    transform: translateY(-10px);
}
div.showcase:hover div.peeking-container-vert:hover img:hover {
    transform: translateY(-14px);
}
div.peeking-container-vert img {
    max-width: 100%;
    transition: all 0.1s;
}
