.showcase {
  background-color: var(--darkb);
  color: var(--sectionbg);
  padding: 12px;
  border-radius: 8px;
  border: none;
  transition: all 0.1s;
  box-shadow: 0px 2px 2px var(--sectionbordershadow);
  flex: 1;
  position: relative;
  background-blend-mode: multiply;
  /* May want to adjust in specific instances, such as to 100% or auto 100% */
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    margin-bottom: 10px;
  }
}
.showcase:hover {
  background-color: transparent;
  border-radius: 24px;
}
.showcase .toolslist {
  text-align: left;
  margin-top: 10px;
}
