.main {
  width: 100%;
  height: 100%;
}

.card {
  background-color: var(--sectionbg);
  width: 100%;
  border-radius: 4px;
  padding: 2px 8px;

  .explanation {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--textcolorlight);
    font-style: italic;
    margin-top: 4px;
    font-size: 14px;
  }
}

.main-list {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
