div.top-showcase {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-right: 0px;

  > :first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.fastlinks {
  display: flex;
  flex-direction: row;
  border-radius: 22px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  justify-content: stretch;
  flex-grow: 1;
  gap: 4px;
  height: 58px;

  img {
    /* TODO: don't hardcode heights */
    height: 100%;
    flex-grow: 1;
    width: 10px;
    transition: opacity 0.1s;
    object-fit: cover;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

/* Specific showcase sections */
div.peterportal {
  background-image: url('../assets/images/projects/PPCRoadmap.png');
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 12px;

  .left {
    flex-grow: 1;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      margin-bottom: 0px;
    }
  }

  .right {
    max-width: 50%;
    min-width: 50%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      border-radius: 4px;
      display: block;
      width: 100%;
    }

    span {
      opacity: 0.6;
    }
  }
}
