div.top-showcase {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-right: 0px;

  > :first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.fastlinks {
  display: flex;
  flex-direction: row;
  border-radius: 22px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  justify-content: stretch;
  flex-grow: 1;
  gap: 4px;
  height: 58px;

  img {
    /* TODO: don't hardcode heights */
    height: 100%;
    flex-grow: 1;
    width: 10px;
    transition: opacity 0.1s;
    object-fit: cover;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

/* Specific showcase sections */
div.peterportal {
  background-image: url('../assets/images/projects/PPCRoadmap.png');
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 12px;

  .left {
    flex-grow: 1;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      margin-bottom: 0px;
    }
  }

  .right {
    max-width: 42%;
    min-width: 42%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      border-radius: 4px;
      display: block;
      width: 100%;

      min-height: 130px;
      object-fit:cover;
    }

    span {
      opacity: 0.6;
    }
  }

  @media (max-width: 530px) {
    flex-direction: column;

    > .right {
      max-width: 100%;
      min-width: 100%;
    }
  }
}

div.knickknack {
  background-image: url('../assets/images/projects/KK_Blur.png');
  object-fit:cover;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 12px;

  .left {
    flex-grow: 1;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      margin-bottom: 0px;
    }
  }

  .right {
    max-width: 42%;
    min-width: 42%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      border-radius: 4px;
      display: block;
      width: 100%;

      min-height: 130px;
      object-fit:cover;
    }

    span {
      opacity: 0.6;
    }
  }
}

.actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;

  .wicon-link {
    > :first-child { fill: var(--sectionbg); }
    > :nth-child(2) { fill: black; }
  }

  & > :first-child {
    width: fit-content;
    white-space: nowrap;
    padding-inline: 20px;
  }

  @media (max-width: 730px) {
    flex-direction: column;

    & > :first-child {
      width: 100%;
      max-width: 220px;
    }
  }
}
