div.top-showcase {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-right: 0px;

  > :first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.fastlinks {
  display: flex;
  flex-direction: row;
  border-radius: 22px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  justify-content: stretch;
  flex-grow: 1;
  gap: 4px;
  height: 58px;
  margin-top: 6px;

  button {
    height: 100%;
    flex-grow: 1;
    width: 10px;
    padding: 0px;
    border: none;

    transition: opacity 0.1s;

    &:focus-visible {
      opacity: 0.8;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

	  img {
	    height: 100%;
	    flex-grow: 1;
      width: 100%;
	    object-fit: cover;
    }
  }
}

.mini-contacts {
  width: 100%;
  display: inline-flex;
  gap: 6px;
  padding-top: 6px;
}

/* Specific showcase sections */
div.peterportal {
  background-image: url('../assets/images/projects/PPCRoadmap.png');
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 12px;

  .left {
    flex-grow: 1;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      margin-bottom: 0px;
    }
  }

  .right {
    max-width: 42%;
    min-width: 42%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      border-radius: 4px;
      display: block;
      width: 100%;

      min-height: 130px;
      object-fit:cover;
    }

    span {
      opacity: 0.6;
    }
  }

  @media (max-width: 530px) {
    flex-direction: column;

    > .right {
      max-width: 100%;
      min-width: 100%;
    }
  }
}

div.knickknack {
  background-image: url('../assets/images/projects/KK_Blur.png');
  object-fit:cover;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 12px;

  .left {
    flex-grow: 1;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 100%;

    h3 {
      margin-bottom: 0px;
    }
  }

  .right {
    max-width: 220px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 100%;

    align-items: center;

    img {
      border-radius: 4px;
      display: block;
      width: 100%;

      min-height: 130px;
      object-fit:cover;
    }

    span {
      opacity: 0.6;
    }

    a {
      &:hover {
        cursor: pointer;
      }
    }
  }

  @media (max-width: 530px) {
    flex-direction: column;

    .right {
      flex-direction: row;
      min-width: 100%;
      max-width: 100%;
      gap: 20px;
    }
  }
}

div.rical, div.sheatfish, div.homepage-omni {
  img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 2px 2px var(--darkshadow);
  }

  .toolslist {
    margin-top: auto;
  }

  > span, > img {
    margin-bottom: 8px;
  }
}

div.rical {
  background-image: url('../assets/images/projects/RicalTerminal_Blur.png');
}

div.sheatfish {
  background-image: url('../assets/images/projects/Sheatfish_Blur.png');
}

div.homepage-omni {
  background-image: url('../assets/images/projects/HomepageOmni_Blur.png');
}

div.landform-eclipse, div.speedstreets, div.platscifi {
  > div:first-child {
    display: flex;
    gap: 10px;
  }

  img {
    border-radius: 4px;
  }
}

div.tetrome {
  background-image: url('../assets/images/projects/Tetrome_Blur.png');

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 4px;
    margin-bottom: auto;
    margin-top: 10px;
  }
}

div.landform-eclipse {
  background-image: url('../assets/images/projects/Landform_Blur.png');
}

div.speedstreets {
  background-image: url('../assets/images/projects/Speedstreets_Blur.png');
}

div.platscifi {
  background-image: url('../assets/images/projects/Platscifi_Blur.png');
}

div.regnatural {
  background-image: url('../assets/images/projects/Regnatural_Blur.png');

  .toolslist {
    margin-top: auto;
  }
}

/* Actions */
.actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;

  .wicon-link {
    > :first-child { fill: var(--sectionbg); }
    > :nth-child(2) { fill: black; }
  }

  & > :first-child {
    width: fit-content;
    white-space: nowrap;
    padding-inline: 20px;
  }

  @media (max-width: 730px) {
    flex-direction: column;

    & > :first-child {
      width: 100%;
      max-width: 220px;
    }
  }
}

/* Fancy peeking image */
div.peeking-container {
    min-width: 80px;
    max-width: 200px;
    width: 80vw;
    min-height: 200px;
    max-height: 200px;
    margin-right: -12px;
    padding: 8px;
    padding-left: 22px;
    padding-right: 0px;
    overflow: hidden;
}
div.showcase:hover div.peeking-container img {
    transform: translateX(-14px);
}
div.peeking-container img {
    max-height: 100%;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
    transition: all 0.1s;
}

/* TODO: move peeking container to its own component */
.peeking-container-vert {
  width: 80%;
  min-height: 200px;
  max-height: 200px;
  margin-bottom: -12px;
  padding: 8px;
  padding-top: 22px;
  padding-bottom: 0px;
  overflow: hidden;
  margin-top: auto;
}
div.showcase:hover div.peeking-container-vert img {
    transform: translateY(-10px);
}
div.showcase:hover div.peeking-container-vert:hover img:hover {
    transform: translateY(-14px);
}
div.peeking-container-vert img {
    max-width: 100%;
    transition: all 0.1s;
}

div.showcase-row {
  display: flex;
  gap: 10px;

  @media (max-width: 530px) {
    flex-direction: column;

    img {
      width: 70%;
      max-width: 320px;
      min-width: 200px;
    }
  }
}

div.games-grid {
  display: grid;
  grid-template-columns: minmax(20%, 228px) 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  gap: 10px;
  height: 762px;

  > :first-child {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 3;
  }

  @media (max-width: 580px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);

    > :first-child {
      grid-row-end: 2;
    }
  }
}
