.outer-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 800px;
  width: 90%;
  min-width: 400px;
}

.top-bar {
  width: 100%;
  background-color: red;
}

.section {
  background-color: gray;
}
