div.section {
  background-color: var(--sectionbg);
  border: solid 1px var(--sectionborder);
  padding: 12px;
  border-radius: 8px;
  transition: background-color 0.1s;

  display: flex;
  flex-direction: column;
  gap: 10px;

  &:hover {
    background-color: var(--sectionbglight);
  }
}

div.section-break {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.small-text {
  color: var(--textcolorlight);
  font-size: 14px;
}
