div.section {
  background-color: var(--sectionbg);
  border: solid 1px var(--sectionborder);
  padding: 12px;
  border-radius: 8px;
  transition: background-color 0.1s;

  display: flex;
  flex-direction: column;
  gap: 10px;

  &:hover {
    background-color: var(--sectionbglight);
  }
}

div.section-break {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.small-text {
  color: var(--textcolorlight);
  font-size: 14px;
}

.wicon {
  > path, g {
    fill: var(--sectionbg);
  }
}

.icon-colorize {
  svg {
    fill: var(--textcolor);
    transition: opacity 0.1s;
  }

  .gh {
    g, path {
      fill: var(--textcolor);
    }
  }

  .linkedin {
    > :first-child { fill: var(--textcolor); }
    > :nth-child(2) { fill: var(--sectionbg); }
  }
}

div.get-in-touch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 22px;
  gap: 4px;

  h2 {
    margin-bottom: 10px;
  }
}

table {
  border: solid 1px var(--hrborder);
  width: 100%;
  text-align: left;
}

.gapcol {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
