div.section {
  background-color: var(--sectionbg);
  border: solid 1px var(--sectionborder);
  padding: 12px;
  border-radius: 8px;
  transition: background-color 0.1s;

  &:hover {
    background-color: var(--sectionbglight);
  }
}
