:root {
  /* Light Theme colors */
  --pagebg: rgb(204, 212, 219);
  --sectionbg: rgb(218, 226, 232);
  --sectionbgmid: rgb(199, 209, 217);
  --sectionbglight: rgb(223, 230, 235);
  --whitesectionbg: rgb(225, 233, 240);
  --whitesectionbglight: rgb(233, 238, 242);
  --sectionborder: rgb(176, 186, 194);
  --sectionbordershadow: rgba(176, 186, 194, 0.5);
  --sectionborderdark: rgb(165, 175, 184);
  --hrborder: rgb(176, 186, 194);
  --hrborderdark: rgb(156, 166, 173);
  --headercolor: rgb(29, 33, 41);
  --textcolor: rgb(70, 78, 94);
  --textcolorlight: rgb(93, 102, 120);
  --blue1light: rgb(106, 183, 212);
  --blue1: rgb(75, 173, 209);
  --blue1mid: rgb(58, 140, 181);
  --blue1dark: rgb(50, 117, 166);
  --darkb: rgba(0, 0, 0, 0.3);
  --darkb2: rgba(0, 0, 0, 0.5);
  --darkb3: rgba(0, 0, 0, 0.8);
  --darkshadow: rgba(0, 0, 0, 0.2);
  --focus-blue: rgb(98, 159, 212, 0.6);

  background-color: var(--pagebg);
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: bold;
  src: url('./assets/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('./assets/AtkinsonHyperlegible-Regular.ttf');
}

body {
  color: var(--textcolor);
  padding: 0px;
  margin: 0px;
  font-family: 'Lato';
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
  margin: 0px;
  color: var(--headercolor);
  font-weight: normal;
  font-family: 'Atkinson Hyperlegible';
  font-size: 22px;
  font-family: 'Atkinson Hyperlegible';
}
h2 {
  font-size: 20px;
  margin: 0px;
  color: var(--headercolor);
  font-weight: normal;
  font-family: 'Atkinson Hyperlegible';
}
h3 {
  font-size: 17px;
  margin: 0px;
}
span.minihead {
  font-size: 14px;
  color: var(--hrborderdark);
}
span.bigfont {
  font-weight: bold;
  font-size: 24px;
}
span.codesmall {
  font-family: monospace;
  background-color: var(--sectionbgmid);
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

a {
  color: var(--blue1);
  text-decoration: inherit;

  &:hover {
    color: var(--blue1light);
  }

  &:focus-visible {
    outline: solid 3px var(--focus-blue);
  }
}

p {
  margin-top: 2px;
  margin-bottom: 2px;
}
