.main {
  width: 100%;
  height: 100vh;

  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;

  span {
    color: var(--textcolorlight);
    font-size: 14px;
  }
}

.card {
  background-color: var(--sectionbg);
  width: 100%;
  border-radius: 4px;
  padding: 4px 8px;
  border: solid 1px var(--sectionborder);

  font-family: inherit;
  color: inherit;
  font-size: inherit;
  text-align: left;

  .explanation {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--textcolorlight);
    font-style: italic;
    margin-top: 4px;
    font-size: 14px;
  }

  &:hover {
    cursor: pointer;

    h3 {
      text-decoration: underline;
    }
  }
}

.main-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  padding-bottom: 24px;
  padding-top: 0px;
  overflow: scroll;
  height: 0;
  flex-grow: 1;
}

.sidebar {
  max-width: 360px;
  height: 100vh;
  border-right: solid 1px var(--sectionborder);
  overflow: hidden;

  display: flex;
  flex-direction: column;

  .sidebar-header {
    padding: 8px;
  }
}

.filters {
  .categories {
    display: flex;
    justify-content: stretch;

    button {
      width: 0px;
      flex-grow: 1;

      border: none;
      background-color: var(--sectionbg);
      color: inherit;
      font-size: 14px;
      font-family: inherit;
      font-weight: 600;
      height: 30px;
      border-inline: solid 1px var(--sectionborder);

      text-transform: capitalize;

      &:hover {
        cursor: pointer;
      }

      &:disabled {
        background-color: var(--blue1mid);
        border: solid 1px transparent;
        color: white;
      }
    }
  }

  .search {
    padding: 8px;

    input {
      width: 100%;
      background-color: transparent;
      border: solid 1px var(--sectionborder);
      border-radius: 4px;
      padding: 4px 8px;

      font-family: inherit;
      color: inherit;
      font-size: 14px;

      &:focus, &:focus-visible {
        outline: solid 3px var(--focus-blue);
      }
    }
  }
}

.right {
  width: 0px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  width: 80%;
  max-width: 600px;
  height: 80%;
  border: solid 1px var(--sectionborder);
  background-color: var(--sectionbg);
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: scroll;

  .section-divider {
    padding-block: 6px;
    hr {
      border: solid 1px var(--sectionborder);
    }
  }

  .misc-info {
    display: flex;
    align-items: center;
    margin-top: 4px;
    gap: 6px;

    a {
      font-size: 18px;
      height: 18px;
      color: inherit;

      &:hover {
        color: var(--textcolorlight);
      }
    }
  }

  .disclaimer {
    font-style: italic;
    margin-top: auto;
    color: var(--textcolorlight);
    font-size: 14px;
  }
}

.chip {
  color: var(--sectionbg);
  width: fit-content;
  padding: 0px 4px;
  font-size: 14px;
  border-radius: 4px;

  &.r0, &.r1, &.r2, &.r3, &.r4, &.r5 {
    background-color: #8e001c;
  }

  &.r6 {
    background-color: #d17834;
  }

  &.r7 {
    background-color: #d19f34;
  }

  &.r8 {
    background-color: #b8c435;
  }

  &.r9 {
    background-color: #8cb52f;
  }

  &.r10 {
    background-color: #24af7f;
  }
}

.mini-list {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;

  margin-top: 4px;
  margin-bottom: 20px;
}

.mini-card {
  border: solid 1px var(--sectionborder);
  padding: 4px 6px;
  border-radius: 4px;
  display: flex;
  gap: 6px;
  align-items: center;

  font-size: 14px;

  .chip {
    font-size: 12px;
  }

  button {
    color: inherit;
    font-size: inherit;
    height: 17px;

    background-color: transparent;
    padding: 0px;
    text-decoration: underline;
    border: none;

    &:hover {
      color: var(--textcolorlight);
      cursor: pointer;
    }
  }
}
